@page "{playListId}"
@using System.Web
@model PlayBaldursGate3.Pages.VideosModel
@{
    ViewData["Title"] = $"Play Baldur's Gate 3 - {Model.PlayList.Title} Videos";
}

@section MetaTags
{
    @{
        <meta data-n-head="ssr" charset="utf-8">
        <meta data-n-head="ssr" data-hid="description" name="description" content="@Model.PlayList.DescriptionTruncated.Trim() - Eclectic X.">
        <meta data-n-head="ssr" name="twitter:title" content="Play Baldur's Gate 3 - @Model.PlayList.Title.Trim()">
        <meta data-n-head="ssr" name="twitter:description" content="@Model.PlayList.MetaDescription - Eclectic X.">
        <meta data-n-head="ssr" property="twitter:card" content="site">
        <meta data-n-head="ssr" property="og:title" content="Play Baldur's Gate 3 - @Model.PlayList.Title.Trim()">
        <meta data-n-head="ssr" property="og:description" content="@Model.PlayList.MetaDescription - Eclectic X.">
    }
}

<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-black mt-3 mb-3">
        <div class="container justify-content-center">
            @*<a class="navbar-brand" asp-area="" asp-page="/Index">EclecticXnet</a>*@
            <div class="d-flex flex-grow-0">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a asp-page="/Index">
                            <i class="fa-solid fa-house fa-4xl" aria-hidden="true" title="Return to home page."></i>
                        </a>
                    </li>
                    <li class="nav-item ms-3 me-3 wide-screen-only">
                        &nbsp;
                    </li>
                    <li class="nav-item">
                        <a asp-area="Mods" asp-page="Level-Cap-Extender">
                            <i class="fa-solid fa-screwdriver-wrench fa-4xl" title="See the Level Cap Extender Mod!"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h1 class="text-center text-uppercase">
                @Html.Raw(HttpUtility.HtmlDecode(Model.PlayList.HtmlTitle))
            </h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            @Model.PlayList.DescriptionTruncated
        </div>
    </div>
    @{
        foreach (var video in Model.Videos)
        {
            var accordionId = $"accordion_flush_{video.Id}";
            var targetId = $"flush_collapse_{video.Id}";
            var ariaLabeledBy = $"aria_label_{video.Id}";

            <div class="row">
                <div class="col-12 mt-3 mb-3">
                    <div class="ratio ratio-16x9">
                        <iframe class="border" src="https://www.youtube.com/embed/@video.Id" title="@video.Title" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="accordion accordion-flush" id="accordion_flush_@video.Id">
                        <div class="accordion-item text-black">
                            <h2 class="accordion-header" id="@ariaLabeledBy">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@targetId" aria-expanded="false" aria-controls="@targetId">
                                    Click me to check out other playlists!
                                </button>
                            </h2>
                            <div id="@targetId" class="accordion-collapse collapse" aria-labelledby="@ariaLabeledBy" data-bs-parent="#@accordionId">
                                <div class="accordion-body">
                                    @Html.Raw(HttpUtility.HtmlDecode(Model.HtmlForOtherPlayListLinks))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3 mb-3 text-center">
                    <a href="#" class="go-to-top">
                        <i class="fa-solid fa-jet-fighter-up  fa-3xl" title="Click me for top of page."></i>
                    </a>
                </div>
            </div>
        }
    }
    <div class="row border-bottom">
        <div class="col-12">
            &nbsp;
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/view-shared.js"></script>
}
